.header {
	text-align: center;
}

.footer {
	text-align: center;
}

.ordercontent {
}

.buttoncontainer table {	
	border-style: solid;
	border-width: 0px;
	border-collapse: collapse;
	width: 650px;
}

.buttoncontainer td.left {
	border-style: solid;
	border-width: 0px;
	border-collapse: collapse;
	text-align: left;
}

.buttoncontainer td.right {
	border-style: solid;
	border-width: 0px;
	border-collapse: collapse;
	text-align: right;
}

.buttoncontainer td.right input {
	// width: 8em;
}

.domainoption table {
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	border-color: #000000;
	width: 650px;
	margin-bottom: 0.5em;
}

.domainoption tr.reverse {
	background-color: #000000;
	color: #ffffff;
}

.domainoption td {
	font-weight: normal;
	text-align: left;
	padding-left: 0.5em;
}

.domainoption td.indent {
	padding-top:  0.5em;
	padding-left: 2em;
	padding-right: 0.5em;
}

.cart {
	width: 650px;
}

.cart table {
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	border-color: #000000;
	width: 650px;
	margin-bottom: 0.5em;
}

.cart tr.reverse {
	background-color: #000000;
	color: #ffffff;
}

.cart th {
	background-color: #000000;
	color: #ffffff;
}

.cart td {
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	border-color: #000000;
}

.domains table {
	width: 300px;
}

.cart_total {
	text-align: right;
	width: 650px;
}

.cart_total table {
	border-style: solid;
	border-width: 0px;
	border-collapse: collapse;
	border-color: #000000;
	width: 650px;
	margin-top: 0.5em;
	margin-bottom: 0em;
}

.cart_total tr.reverse {
	background-color: #000000;
	color: #ffffff;
}

.cart_total td {
	border-style: solid;
	border-width: 0px;
	border-collapse: collapse;
	border-color: #000000;
	width: 4em;
}

.cart_total th {
	border-style: solid;
	border-width: 0px;
	border-collapse: collapse;
	border-color: #000000;
	font-wieght: bold;
}

.form table {
	width: 600px;
	margin-top: 0.25em;
	border-width: 0px;
}

.form th {
	width: 10em;
	text-align: left;
}
