ul.systemrequirements {
list-style:none;
margin-left:0;
padding-left:0;
}

ul.systemrequirements li {
height:22px;
padding-left:20px;
}

ul.systemrequirements li.passed {
color:green;
}

ul.systemrequirements li.failed {
color:red;
}

ul.systemrequirements li.descrip {
font-weight:700;
}

.submit {
margin-top:20px;
padding:5px;
width:100%;
background:#eee;
border: thin solid #ddd;
}

/*
.submit input {
border-bottom:1px solid #000;
border-top:none;
border-right:none;
border-left: none;
background: none;
padding:0;
margin:0;
}
*/

#navcontainer {
padding:5px;
}

#navlist {
margin-left:0;
padding-left:0;
text-align:left;
width:100%;
}

#navlist li {
border-top:1px solid gray;
list-style:none;
margin:0;
padding:0.25em;
}

#navlist li a {
text-decoration:none;
}

html {
margin:0;
}

body {
font-family: "Lucida Grande", Verdana, Arial, sans-serif;
font-size: 62.5%;
background-color:#4b4d4d;
color:#5f5f5f;
}

#content {
margin:20px auto;
overflow:hidden;
width:760px;
}

#content2 {
background-color:#FFF;
padding:0;
}

.header {
height:65px;
width:100%;
}
#logo {
float:right;
padding:10px 10px 10px 10px;
}
.toplinks {
float:right;
}
.leftnav {
background:#efefde;
float:left;
height:100%;
margin-bottom:-999px;
padding-bottom:999px;
width:150px;
}

.grapharea {
padding:5px 0 5px 0;
margin:0;
}

.progressbarbox {
height:20px;
background:#eee;
border: thin solid #ddd;
}
.percentcomplete {
background:#fd6704;
height:20px;
}
#progressStatus { text-align: right;margin:0;padding:0; }

#maincolumn {
margin-left:150px;
padding:0 10px 10px 10px;
}

.actualcontentarea {
padding-:0 10px 10px 0;
}

.helpbox {
background:#fbfbfb;
border:1px solid #eee;
margin:5px;
padding:3px;
width:130px;
}

h1 {
font-size:110%;
font-weight:700;
margin:0;
padding:0;
}

h2 {
font-size:130%;
font-weight:700;
margin:0;
padding:0;
}

.helpbox ul li {
font-size:11px;
margin:0;
}

p {
margin:0 0 1em;
}

a {
color:#0C8DD8;
}

.minheighttest {
background-color:#FF0;
border:1px solid red;
margin:1em;
min-height:3em;
}

#iframe {
border:1px solid #ccc;
height:400px;
overflow:auto;
width:100%;
}

.dbtitle {
font-family:verdana,arial,sans-serif;
font-size:11px;
text-align:right;
}

.dbdesc {
font-family:verdana,arial,sans-serif;
font-size:10px;
text-align:left;
}

.pwdChkTbl1 {
border:0;
margin:0 0 0 15px;
padding:0;
width:100%;
}

.pwdChkTbl1 span {
font-size:70%;
}

.pwdChkTbl2 {
background-color:#FFF;
border:0;
height:20px;
width:210px;
}

.pwdChkTbl2 span {
font-size:70%;
}

.pwdChkTbl3 {
background-color:#FFF;
border:0;
height:19px;
margin:3px 15px 15px 0;
width:70px;
}

.pwdChkTbl3 span {
font-size:70%;
}

.pwdChkTbl4 {
background-color:#FFF;
border:0;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:400;
margin:0 20px;
}

.pwdChkTd1 {
padding:5px 7px 13px 0;
text-align:right;
width:180px;
}

.pwdChkTd2 {
vertical-align:top;
width:420px;
}

.pwdChkTd3 {
vertical-align:top;
width:420px;
}

.pwdChkTd4 {
padding-bottom:15px;
vertical-align:top;
}

.pwdChkTd4 h3 {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:130%;
font-weight:700;
margin:8px 0 0;
padding-bottom:8px;
}

.pwdChkTd5 {
vertical-align:top;
width:98px;
}

.pwdChkCon0 {
background-color:#EBEBEB;
border-bottom:solid 1px #BEBEBE;
border-right:solid 1px #BEBEBE;
text-align:center;
}

.pwdChkCon1 {
background-color:#FF4545;
border-bottom:solid 1px #BB2B2B;
border-right:solid 1px #BB2B2B;
text-align:center;
}

.pwdChkCon2 {
background-color:#FFD35E;
border-bottom:solid 1px #E9AE10;
border-right:solid 1px #E9AE10;
text-align:center;
}

.pwdChkCon3 {
background-color:#3ABB1C;
border-bottom:solid 1px #267A12;
border-right:solid 1px #267A12;
text-align:center;
}

.pwdChkCon4 {
background-color:#3ABB1C;
border-bottom:solid 1px #267A12;
border-right:solid 1px #267A12;
text-align:center;
}

hr.divider {
background:#B8B8B8;
border:0;
color:#B8B8B8;
height:2px;
margin:15px 0 0 20px;
width:95%;
}