/******************************************************
 * Global
 ******************************************************/

html, body {
}

body {
	font-family: verdana, tahoma, helvetica, arial, sans-serif;
	background-color: #ffffff;
	border-style:none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

body.menu {
	font-family: verdana, tahoma, helvetica, arial, sans-serif;
	border-style:none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-color: #f0f0f0;
}

/******************************************************
 * Mast head
 ******************************************************/

.mast_head {
	height: 30px;
	width: 200px;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	padding: 5px 5px 5px 5px;
	background-color:#ffffff;
	font-size: 120%;
	float: left;
}

.mast_head h1 {
	text-align: center;
	font-size: 120%;
	margin: 0 0 0 0;
}

/******************************************************
 * Side Menu
 ******************************************************/

.menu {
	width: 180px;
	float: left;
	clear: left;
	border-style:solid; border-width:1px; border-color:#ffffff;
	margin-top: 0;
	margin-left: 5px;
}

.menubox {
	width: 98%;
	height: 98%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.standartTreeRow {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
 	font-size : 12px; 
}

.selectedTreeRow { 
	background-color : navy; 
	color:white; 
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;  
}

/******************************************************
 * Content
 ******************************************************/

.content {
	background-color:#FFFFFF;
	margin: 0 0 0 0;
	border-style:none;
	padding-bottom: 3em;
}

.content p {
	font-size: 70%;
	margin-left: 1.5em;
}

.content_mast {
	height: 40px;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	padding: 5px 5px 5px 5px;
	background-color: #d6dff7;
}

.content h1 {
	margin: 0 0 0 0;
	font-size: 120%;
}

.content p.navigation {
	font-size: 60%;
	margin-top: 0.25em;
	margin-left: 0em;
}

.content p.user_display {
	font-size: 80%;
	text-align: right;
	margin-top: -4em;
	margin-bottom: 1em;
}

.content p.ip_display {
	font-size: 60%;
	text-align: right;
	margin-top: -1em;
	margin-bottom: 1em;
}

.content h2 {
	font-size: 90%;
	background-color: #6e89dd;
	border-style: solid; border-width: 1px; border-color: #6e89dd;
	color: #ffffff;
	margin-left: 1em; margin-right: 1em;
}

/*************************************************
 * Form
 *************************************************/

.form {
	padding-right: 2em;
}

.form table {
	margin-top: 1em;
	margin-left: 1em;
	border-collapse: collapse;
	background-color: #f0f0f0;
	width: 650px;
}

.form table thead {
	border-style: solid; border-width: 1px; border-color: #6e89dd;
	color: #ffffff;
	background-color: #6e89dd;
	text-align: left;
	font-weight: bold;
}

.form table tbody {
	border-style: solid; border-width: 1px; border-color: #6e89dd;
}

.form table tfoot {
	border-style: solid; border-width: 0;
	background-color: #ffffff;
}

.form table tfoot td.left {
	padding-left: 0em; padding-top: 1em;
	text-align: left;
}

.form table tfoot td.right {
	padding-right: 0em; padding-top: 1em;
	text-align: right;
}

.form table tbody th {
	width: 40%;
	border-style: none; border-width: 1px; border-color: #b0b0b0;
	text-align: left;
	font-size: 0.7em;
	padding-top: 4px; padding-bottom: 4px; padding-left: 4px;
}

.form table tbody td {
	width: 60%;
	font-size: 0.7em;
	border-style: none; border-width: 1px; border-color: #b0b0b0;
	padding-top: 4px; padding-bottom: 4px; padding-right: 4px;
}

.form table.inner {
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border-style: none;
	border-collapse: collapse;
}

.form table.inner th {
	text-align: center;
	width: auto;
	font-size: 100%;
	padding: 0 0 0 0;
}

.form table.inner td {
	width: auto;
	font-size: 100%;
	padding: 0 0 0 0;
}

.form b {
	color: #990000;
}

.form input.radio {
	margin-bottom: -2px;
}

.form input.text {
	border: 1px solid #7f9db9;
}

.form input.text_required {
	background-color: #fffe93;
	border: 1px solid #7f9db9;
}

.form input.text_error {
	background-color: #ff9090;
	border: 1px solid #7f9db9;
}

.form select {
	border: 1px solid #7f9db9;
}


/*************************************************
 * Table
 *************************************************/

.table {
	margin-left: 1em;
	margin-right: 1em;
}

.table p {
	font-size: 70%;
	font-weight: bold;
	margin-bottom: 1em;
	margin-left: -1px;
}

.table table {
	margin-top: -7px;
	margin-bottom: 1em;
	border-collapse: collapse;
	background-color: #ffffff;
	width: 100%;
}

.table th {
	border-style: solid; border-width: 1px; border-color: #b0b0b0;
	font-size: 70%;
	padding-top: 2px; padding-bottom: 2px;
	background-color: #d6dff7;
	text-align: center;
	vertical-align: middle;
	height: 3em;
}

.table th > a {
	color: #000000;
	text-decoration:none;
}

.table th > a:hover {
	text-decoration:underline;
}

.table tr.footer {
	background-color: #b0b0b0;
}

.table tr:hover {
	background-color: #ccffcc;
}

.table tr.footer:hover {
	background-color: #b0b0b0;
}

.table td {
	font-size: 70%;
	border-style: solid; border-width: 1px; border-color: #b0b0b0;
	padding-top: 2px; padding-bottom: 2px;
	height: 2em;
}

/*************************************************
 * Properties Table
 *************************************************/

.properties table {
	width: 600px;
	margin-left: 1em;
	border-style: none; border-width: 1px; border-color: #b0b0b0;
	border-collapse: collapse;
}

.properties th {
	width: 150px;
	border-style: solid; border-width: 1px; border-color: #b0b0b0;
	background-color: #f0f0f0;
	text-align: left;
	font-size: 0.7em;
	padding-top: 4px; padding-bottom: 4px;
}

.properties td {
	width: 250px;
	font-size: 0.7em;
	text-align: left;
	border-style: solid; border-width: 1px; border-color: #b0b0b0;
	padding-top: 4px; padding-bottom: 4px; padding-right: 4px;
}

.properties td.action_cell {
	width: 200px;
	border-style: none;
	text-align: left;
	padding-left: 1em;
	font-weight: bold;
}

.properties td.action_cell a {
	font-weight: normal;
}

.properties tr.footer {
	background-color: #b0b0b0;
}

.properties th.footer {
	background-color: #b0b0b0;
}

/*************************************************
 * Search
 *************************************************/

.search table {
	margin-left: 1em; margin-bottom: 0em; margin-right: 1em;
	border-style: none; border-width: 1px; border-color: #b0b0b0;
	border-collapse: collapse;
}

.search th {
	height: 4em;
	width: 4em;
	padding: 1em 1em 1em 1em;
	font-size: 70%;
	background-color: #6e89dd;
	color: #ffffff;
}

.search td {
	vertical-align: bottom;
	padding-left: 1em; padding-bottom: 0.5em; padding-top: 0.5em;
	background-color: #e0e0e0;
	font-size: 70%;
}

.search td.submit {
	width: 100%
}

/*************************************************
 * Message
 *************************************************/

p.error {
	font-size: 70%;
	margin-left: 1em; margin-right: 1em;
	padding: 0.5em 0.5em 0.5em 0.5em;
	border-style: solid; border-width: 1px; border-color: #440000;
	background-color: #bb0000;
	color: #ffffff;
	font-weight: bold;
}

p.message {
	font-size: 70%;
	margin-left: 1em; margin-right: 1em;
	padding: 0.5em 0.5em 0.5em 0.5em;
	border-style: solid; border-width: 1px; border-color: #669999;
	background-color: #66cc99;
}

/*************************************************
 * Login
 *************************************************/

body.login {
	background-color: #ffffff;
}

.login {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	padding-bottom: 0.5em;
	border-style: solid; border-width: 1px; border-color: #000000;
	background-color: #f0f0f0;
}

.login h1 {
	background-color: #000000;
	color: #ffffff;
	font-size: 100%;
	text-align: center;
	margin-top: 0;
}

.login p {
	margin-left: 1em;
	margin-bottom: 0;
	font-size: 80%;
}

.login small {
	margin-left: 1.25em;
	font-size: 60%;
}

.login input {
	margin-top: 0;
	margin-left: 1em;
}

.login select {
	margin-top: 0;
	margin-left: 1em;
}

.login input.submit {
	text-align: right;
	margin-top: 0.5em;
	margin-right: 1em;
}

/*************************************************
 * Action box
 *************************************************/

.action {
	border: 1px solid #b0b0b0;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 16px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	/* padding-right: -10px; */
}

.action p.header {
	font-weight: bold;
	color: #000000;
	background-color: #ffffff;
	margin-top: -17px;
	margin-left: -5px;
	padding-left: 2px;
	width: 6em;
}

.action p.header_long {
	font-weight: bold;
	color: #000000;
	background-color: #ffffff;
	margin-top: -17px;
	margin-left: -5px;
	padding-left: 2px;
	width: 24em;
}

.action form {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
